*.pyc
*~
.vscode
__pycache__
deployment/systemd.system
deployment/nGinx
app/__pycache__
app/main/__pycache__
migrations/__pycache__
migrations/versions/__pycache__
test/__pycache__
tmp
venv
data-dev.sqlite
data-test.sqlite